/* default settings */
html {
  font-size: 18px;

  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  background-color: rgb(50, 50, 63);

  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
/* main part site */
.app-wrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-columns: 1fr;
  height: 100vh;
}
.header {
  grid-area: header;
  background-color: rgb(60, 120, 122);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.main {
  grid-area: main;
  padding: 0.5rem;
}

.footer {
  grid-area: footer;
  background-color: rgb(60, 120, 122);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
/* main block */
.main__wrapper {
  height: 100%;
  display: flex;
  color: rgb(29, 29, 29);
  justify-content: center;
  column-gap: 20px;
}
.main__content {
  flex: 0 1 80rem;
  background-color: white;
  border-radius: 0.5rem;
}

.main__cart {
  flex: 0 1 20rem;
  background-color: white;
  border-radius: 0.5rem;
}

.books__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  column-gap: 10px;
  row-gap: 10px;
}
.book__item {
  flex: 0 1 15rem;
  transition: all 0.2s;
  padding: 10px 0;
}
.book__item > a {
  color: rgb(39, 39, 39);
}
.book__item:hover {
  box-shadow: 0px 4px 10px 0.1px rgb(185, 185, 185);
  transform: scale(1.05);
  transition: all 0.4s;
}
/* book item design */
h2 {
  line-height: 0;
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  font-weight: bold;
}
.book__cover {
  width: 100%;
  height: 100%;
}

.book__info {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}
.book__title {
  color: rgb(99, 46, 0);
  transition: color 0.5s;
}
.book__title:hover {
  color: sandybrown;
}
.book__price-wrapper {
  display: flex;
  font-display: row;
  justify-content: space-around;
  align-items: center;
}
.book__price {
  font-size: 1.5rem;
  font-weight: bold;
  transform: scaleY(0.9);
}
.book__button {
}
.button {
  cursor: pointer;
  padding: 5px 15px;
  background-color: rgb(62, 192, 160);
  border: 0px solid #000;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(26, 25, 25);
  min-width: 120px;
  max-width: 120px;
}
.button:hover {
  background-color: rgb(81, 221, 202);
  transition: background-color 0.5s;
}
.main__cart {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
}
/* filter block */
.filter__wrapper {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  column-gap: 30px;
}
.filter__sort {
  display: flex;
  column-gap: 30px;
}
.filter__count {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(30, 67, 71);
}
.filter__price {
}
.filter__cover {
}
select {
  padding: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}
/* transition book group */
.book-enter {
  opacity: 0.8;
  transform: translateY(70px);
}
.book-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in;
}
.book-exit {
  opacity: 1;
  transform: translateY(0);
}
.book-exit-active {
  opacity: 0.5;
  transform: translateY(70px);
  transition: all 500ms ease-in;
}
/* transition cart items group */

.cartItemTransition-enter {
  opacity: 0.8;
  transform: translateY(70px);
}
.cartItemTransition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in;
}
.cartItemTransition-exit {
  opacity: 1;
  transform: translateY(0);
}
.cartItemTransition-exit-active {
  opacity: 0.5;
  transform: translateY(70px);
  transition: all 500ms ease-in;
}
/* styles for cart items */
.main__cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cart__wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 15px;
}
.cart__item {
  display: flex;
  max-height: 100px;
  border-bottom: 1px solid rgba(0, 128, 107, 0.233);
  padding: 10px;
  width: 100%;
}
.cart__cover {
  height: 100px;
}
.cart__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart__title {
  font-weight: bold;
}
.cart__price {
  color: crimson;
}
.cart__btns {
  display: flex;
  column-gap: 5px;
}
.cart__button-delete {
  cursor: pointer;
  padding: 5px 15px;
  background-color: rgb(204, 60, 60);
  border: 0px solid #000;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: white;
  min-width: 40px;
  max-width: 40px;
}
.cart__button-delete:hover {
  background-color: rgb(236, 79, 79);
}
.fa-trash {
  transform: translateX(-15%);
}
